.row {
  margin: 5% auto;
  border: 10px solid #f4f5f7;
}

.col-auto {
  width: 20%;
  text-align: center;
}
.col-auto img{
  width: 100%;
  height: auto;
}


.border {
  border: 5xp solid #a72020;
}

