.row {
  margin: 5% auto;
  border: 10px solid #f4f5f7;
}

.col-lg-auto {
  width: 20%;
  text-align: center;
}
img {
  margin: 20px 0;
  width: 100%;
  height: auto;
}

.border {
  border: 5xp solid #a72020;
}
