.content{
    font-family: 'Roboto', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    padding: 3%;
    background-color: #1E2329;
}

.content p{
    font-size: 20px;
    color: rgb(180, 172, 172);
}

.content p:nth-child(1)
{
    width: 15%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background-color: #fa9734;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin: 0;
}

.content a{
    color: rgb(253, 133, 34);
}

h1{
    font-weight: 1;
    font-size: 56px;
    color: #ffffff;
}